body {
    background: url(img/5_background/second_half_background.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
}

.imprssung_back_img{
    height: 50px;

}

.impressum{
    text-align: center;
}